@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #057d99 !important;
  text-decoration: none;
}
a :active {
  color: #057d99;
  font-weight: 700;
  font-style: bold !important;
}
a :hover {
  color: #057d99;
  font-weight: 700;
  font-style: bold !important;
}
* {
  box-sizing: border-box;
}
hr {
  width: 100%;
  background-color: #057d99;
  border: 2px solid transparent;
  margin-bottom: 10px;
}
.sidebar-wrapper {
  position: relative;
  /* height: calc(100vh - 75px); */
  overflow: auto;
  width: 300px;
  z-index: 1;
  padding-bottom: 30px;
}
.material-icons {
  font-size: 17px;
  line-height: 29px;
}
.addressBarLi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faqDiv {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  /* background-color: blueviolet; */
}