@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #057d99 !important;
  text-decoration: none;
}
a :active {
  color: #057d99;
  font-weight: 700;
  font-style: bold !important;
}
a :hover {
  color: #057d99;
  font-weight: 700;
  font-style: bold !important;
}
* {
  box-sizing: border-box;
}
hr {
  width: 100%;
  background-color: #057d99;
  border: 2px solid transparent;
  margin-bottom: 10px;
}
.sidebar-wrapper {
  position: relative;
  /* height: calc(100vh - 75px); */
  overflow: auto;
  width: 300px;
  z-index: 1;
  padding-bottom: 30px;
}
.material-icons {
  font-size: 17px;
  line-height: 29px;
}
.addressBarLi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faqDiv {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  /* background-color: blueviolet; */
}
.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.box {
  width: 10px;
  height: 0px;
  margin-right: 100px;
}
#google_translate_element {
  position: absolute;
  left: 300px !important;
  /* top: 20px !important; */
}
.goog-te-gadget {
  /* display: flex;
  background-color: black;
  width: 300px; */
  /* font-family: Roboto, "Open Sans", sans-serif !important; */
  /* text-transform: uppercase; */
}
.goog-te-gadget-simple {
  background-color: rgba(255, 255, 255, 0.877) !important;
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
  padding: 10px !important;
  border-radius: 4px !important;
  font-size: 1rem !important;
  display: flex !important;
  cursor: pointer;
  width: 180px !important;
  height: 10px !important;
}
.goog-te-gadget-icon {
  position: relative;
  bottom: 10px !important;
  font-size: 15px;
}
.goog-te-menu-value {
  position: relative;
  bottom: 30px;
  /* font-size: 10px !important; */
}
.goog-te-menu-value span:nth-child(5) {
  position: relative;
  left: 110px;
  bottom: 115px;
  font-size: 18px !important;
}
@media (max-width: 667px) {
  #google_translate_element {
    position: absolute;
    left: 150px !important;
    top: 425px !important;
  }
  .goog-te-gadget {
    /* display: flex;
    background-color: black;
    width: 300px; */
    /* font-family: Roboto, "Open Sans", sans-serif !important; */
    /* text-transform: uppercase; */
  }
  .goog-te-gadget-simple {
    background-color: rgba(255, 255, 255, 0.726) !important;
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
    padding: 10px !important;
    border-radius: 4px !important;
    font-size: 1rem !important;
    display: flex !important;
    cursor: pointer;
    width: 180px !important;
    height: 10px !important;
  }
  .goog-te-gadget-icon {
    position: relative;
    bottom: 10px !important;
    font-size: 15px;
  }
  .goog-te-menu-value {
    position: relative;
    bottom: 30px;
    /* font-size: 10px !important; */
  }
  .goog-te-menu-value span:nth-child(5) {
    position: relative;
    left: 110px;
    bottom: 115px;
    font-size: 18px !important;
  }
}
