.container {
  width: 100%;
  height: 100%;
}
.addressBar {
  display: inline;
  height: 60px;
  background-color: #057d99;
}
.topBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-left: 20px;
  padding-right: 30px;
  background-color: #ffffff;
}
/* .topBar {
  display: inline;
  height: 80px;
  padding-left: 20px;
  padding-right: 30px;
  background-color: #ffffff;
} */
.navLink {
  color: #057d99;
  font-size: 13px;
}
.navLink a:hover,
.navLink a:focus,
.navLink a:active {
  font-style: bold;
  color: #057d99;
}
.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #057d99;
  color: #ffffff;
}
.buttonOutline {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-color: #057d99;
  padding: 0.46875rem 1rem;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #057d99;
  background-color: #ffffff;
  margin-left: 10px;
}
.main {
  min-height: 100vh;
  padding: 1rem 0 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Jumbotron */
.jumbotron {
  position: relative;
  background: url("../asset/monnayJumbo.png");
  background-size: cover;
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumbotronFluid {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(10, 79, 96, 0.72);
}
.jumbotronProps{
  position: relative;
  top: 140px;
}
.properties {
  color: #ffffff;
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  text-align: center;
}
.content {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}
.jumboButton {
  position: absolute;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  border-color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 14px;
  line-height: 19.07px;
  border-radius: 0.25rem;
  color: #ffffff;
  margin-left: 620px;
  margin-top: 46px;
}
.trade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  padding: 30px;
}
.tradeImage {
  position: absolute;
  top: 700px;
  left: 300px;
  border-radius: 11.04px;
}
.tradeText {
  font-weight: 700;
  font-style: bold;
  font-size: 45px;
  color: #000000;
}
.tradeMessage {
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}
.trustContainer {
  display: block;
  width: 100%;
  height: 650px;
}
.trustText {
  font-style: bold;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #000000;
}
.trustMessage {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.trustShowBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
.box {
  display: block;
  width: 350px;
  height: 350px;
  border: 2px solid transparent;
  border-color: #057d99;
  border-radius: 10px;
}
.boxIconContainer {
  position: relative;
  width: 100px;
  height: 100px;
  top: 20px;
  left: 40px;
  border-radius: 60px;
  background-color: rgba(5, 125, 153, 1);
}
.boxIcon {
  position: relative;
  font-size: 40px;
  top: 30px;
  left: 30px;
  color: #ffffff;
}
.boxText {
  position: relative;
  top: 40px;
  left: 40px;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  line-height: 23px;
  text-align: left;
  color: #057d99;
}
.boxMessage {
  position: relative;
  top: 50px;
  left: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.strategyContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 700px;
}
.strategyTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 50%;
  background-color: #0a4f60;
}
.strategyText {
  font-style: bold;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #ffffff;
}
.strategyMessage {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}
/* .strategyRectangle {
  position: fixed;
  width: 40px;
  height: 250px;
  top: 250px;
  right: 20px;
  left: 50%;
  background: rgba(5, 125, 153, 0.61);
} */
.strategyImageContainer {
  width: 50%;
  background: url("../asset/monnayStrategy.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.investmentHeader {
  margin-top: 50px;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
}
.investmentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 3%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 350px;
  height: 550px;
  margin: 1rem;
  padding: 1.5rem;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #057d99;
  border-color: #057d99;
}
.cardTitle {
  position: relative;
  top: 100;
  left: 50;
  text-decoration: none;
  margin-bottom: 0.75rem;
  margin-top: 0.625rem;
}
.basic {
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 10px;
  text-align: center;
  color: #057d99;
}
.basicTitle {
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  text-align: center;
  color: #000000;
}
.cardList {
  font-size: 16px;
  line-height: 30px;
}
.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  padding: 1%;
}
.cardButton {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #057d99;
  color: #ffffff;
  margin-top: 5%;
  margin-left: 30%;
}
.subscribecontainer {
  display: block;
  /* background-color: rebeccapurple; */
}
.subscribeInput {
  display: flex;
  justify-content: baseline;
  align-items: center;
  /* background-color: coral; */
}
/* auth styling */
.signupContainer {
  position: relative;
  width: 500px;
  height: 100%;
  top: 10px;
  left: 500px;
  bottom: 0px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
}
.signinContainer {
  position: relative;
  width: 500px;
  top: 50px;
  left: 500px;
  bottom: 0px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
}
.createDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.create {
  font-style: bold;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  color: #000000;
}
.createButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  /* background-color: red; */
}
.form{
  /* background-color: red; */
}
/* about page */
.footer {
  display: block;
  padding: 2rem 0;
  background-color: #0a4f60;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.footerOne {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid transparent;
  border-color: #ffffff;
}
.footerOneStyle {
  color: #ffffff;
  font-size: 16px;
}
.footerTwo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .investmentContainer {
    width: 100%;
    flex-direction: column;
  }
}
