#navbarStyle {
  position: relative;
  left: -350px;
}
.buttonNav {
  display: block;
  position: relative;
  width: 150px;
  height: 50px;
  top: 15px;
  left: -200px;
  right: 100px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  background-color: #057d99;
}
.buttonOutlineNav {
  display: block;
  position: relative;
  width: 150px;
  height: 50px;
  top: 15px;
  left: -150px;
  color: #057d99;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  border-color: #057d99;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  background-color: #ffffff;
}
.buttonNavSlide {
  display: block;
  position: relative;
  width: 300px;
  height: 60px;
  top: 15px;
  left: 25px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  background-color: #057d99;
}
.buttonOutlineNavSlide {
  display: block;
  position: relative;
  width: 300px;
  height: 60px;
  top: 15px;
  left: 25px;
  margin-top: 10px;
  color: #057d99;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  border-color: #057d99;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
}
.button {
  display: block;
  position: relative;
  width: 350px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  background-color: #057d99;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Jumbotron */
.jumbotron {
  position: relative;
  height: 560px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.jumbotronFluid {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(10, 79, 96, 0.72);
}
.jumbotronProps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.properties {
  color: #ffffff;
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  text-align: center;
}
.content {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.jumboButton {
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  border-color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 16px;
  border-radius: 0.5rem;
  color: #ffffff;
  height: 50px;
  width: 200px;
  margin-top: 10px;
}
.trade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
.tradeImage {
  border-radius: 12px;
}
.tradeText {
  font-weight: 700;
  font-style: bold;
  font-size: 48px;
  line-height: 57px;
  color: #000000;
}
.tradeMessage {
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #000000;
}
.trustContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 840px;
  background-color: #f6fdff;
}
.trustText {
  font-style: bold;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  color: #000000;
}
.trustMessage {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.trustShowBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.box {
  display: block;
  width: 400px;
  height: 400px;
  border: 2px solid transparent;
  border-color: #057d99;
  border-radius: 10px;
  margin: 25px;
  /* z-index: -1; */
}
.boxIconContainer {
  position: relative;
  width: 100px;
  height: 100px;
  top: 40px;
  left: 40px;
  border-radius: 63px;
  background-color: rgba(5, 125, 153, 1);
}
.boxIcon {
  position: relative;
  font-size: 40px;
  top: 30px;
  left: 30px;
  color: #ffffff;
}
.boxText {
  position: relative;
  top: 60px;
  left: 40px;
  font-weight: 700;
  font-style: bold;
  font-size: 32px;
  line-height: 23px;
  text-align: left;
  color: #057d99;
}
.boxMessage {
  position: relative;
  top: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  text-align: left;
  padding: 40px;
}
.strategyContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 704px; */
  /* background-color: tomato; */
}
.strategyTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* height: 704px; */
  background-color: #0a4f60;
}
.strategyText {
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}
.strategyMessage {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  text-align: left;
}
/* .strategyImageContainer {
  width: 50%;
} */
.investmentHeader {
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
}
.investmentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  margin: 2rem;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
}
.cardTitle {
  position: relative;
  width: 70%;
  top: 100;
  left: 50;
  text-decoration: none;
  margin-bottom: 0.75rem;
}
.basic {
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 10px;
  text-align: center;
  color: #057d99;
}
.basicTitle {
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  text-align: center;
  color: #000000;
}
.cardList {
  font-size: 16px;
  line-height: 25px;
}
.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  padding: 1%;
}
.cardButton {
  display: block;
  position: relative;
  width: 150px;
  height: 50px;
  top: 15px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  background-color: #057d99;
}
.subscribeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 375px;
  fill: solid;
  background-color: #f6fdff;
}
.subscribeHeader {
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
}
.subscribeInput {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: coral; */
}
.subscribeButton {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  background-color: #057d99;
}
/* auth styling */
/* .signupContainer {
  display: block;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
} */
.signinContainer {
  /* position: relative; */
  width: 500px;
  height: 600px;
  /* left: 700px; */
  /* top: 150px; */
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin: 130px;
  /* z-index: -2; */
}
.signinButton {
  position: relative;
  left: 30px;
  top: 40px;
  width: 358px;
  height: 50px;
  font-weight: 500;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 0.25rem;
  background-color: #057d99;
  color: #ffffff;
}
.signupButton {
  position: relative;
  width: 200px;
  height: 55px;
  font-weight: 500;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 0.25rem;
  background-color: #057d99;
  color: #ffffff;
  margin: 30px;
}
/* TERMS AND PRIVACY POLICY */
.termsHeader {
  font-weight: 700;
  font-size: 40px;
  line-height: 86px;
  text-align: center;
  color: #ffffff;
}
.termsBody {
  position: relative;
  left: 240px;
  width: 1248px;
  color: #ffffff;
  /* height: 1727px; */
  /* background-color: tomato; */
}
.termsListHeader {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  /* background-color: #000000; */
}
.termsList {
  font-size: 16px;
  line-height: 23px;
  list-style-type: circle;
  /* background-color: red; */
}
.agreeTerms {
  position: relative;
  top: 50px;
  left: 240px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.termsButton {
  position: relative;
  top: 100px;
  left: 1339px;
  width: 149px;
  height: 60px;
  color: #057d99;
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 10px;
}
/* TERMS AND PRIVACY POLICY */
.createDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.createDivImg {
  position: absolute;
  /* z-index: -1; */
}
.create {
  font-style: bold;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  color: #000000;
}
.createButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
/* about page */
.jumbotronAbout {
  position: relative;
  background: url("/public/monnayJumbo.png");
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.about {
  position: relative;
  top: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  line-height: 86px;
  text-align: center;
}
.planJumbo {
  position: relative;
  top: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  line-height: 86px;
  text-align: center;
}
.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.whoAreWeDiv {
  position: relative;
  display: flex;
  top: 250px;
}
.whoAreWe {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 377px;
  height: 336px;
  background-color: #ffffff;
  margin-right: 30px;
}
.whoAreWeHeader {
  position: relative;
  top: 41px;
  left: 33px;
  color: #057d99;
  font-size: 32px;
  line-height: 57px;
  font-weight: 700;
}
.whoAreWeMessage {
  color: #000000;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  font-style: normal;
  padding-left: 33px;
  padding-top: 18px;
}
.meetCEO {
  display: flex;
  flex-direction: column;
  width: 377px;
  height: 902px;
  background-color: #ffffff;
}
.ceoPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.img {
  border-radius: 50%;
}
.ceoMessage {
  color: #000000;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  font-style: normal;
  padding-left: 33px;
  padding-top: 10px;
  padding-right: 17px;
}
.ceoButtonDiv {
  margin: 30px;
}
.ceoButton {
  display: block;
  width: 300px;
  font-weight: 500;
  text-align: center;
  border: 1px solid transparent;
  border-color: #057d99;
  padding: 0.46875rem 1rem;
  font-size: 14px;
  line-height: 2.5;
  border-radius: 0.25rem;
  color: #057d99;
  margin-bottom: 15px;
}
.ourStrategy {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 200px;
  bottom: 180px;
  width: 796px;
  height: 482px;
  background-color: #ffffff;
}
.ourStrategyHeader {
  position: relative;
  top: 41px;
  left: 33px;
  color: #057d99;
  font-weight: 700;
  font-size: 32px;
  line-height: 57px;
}
.ourStrategyMessage {
  color: #000000;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  padding-left: 33px;
  padding-top: 18px;
  padding-right: 20px;
}
.investorDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.investorDivAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 565px;
  margin-top: 50px;
  background-color: #f6fdff;
}
.investorHeaderDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.investorHr {
  width: 20%;
  background-color: #057d99;
  border: 1px solid transparent;
  margin-bottom: 10px;
}
.investorHeader {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.investorCardDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.investorCard {
  /* position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 590px;
  height: 292px;
  margin: 2rem;
  /* padding: 1.5rem; */
  background-color: whitesmoke;
  /* background-clip: border-box;
  border: 1px solid #eaeaea; */
  border-radius: 10px;
}
.investorIcon {
  position: relative;
  top: 50px;
  left: 50px;
  color: #b5dbe6;
}
.investorMessage {
  position: relative;
  top: 50px;
  left: 100px;
  font-size: 16px;
  line-height: 22px;
  padding: 20px;
}
.investorName {
  position: relative;
  top: 50px;
  right: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
}
.investorMessage3 {
  position: relative;
  top: 20px;
  left: 70px;
  font-size: 16px;
  line-height: 22px;
  padding: 40px;
}
.investorName3 {
  position: relative;
  bottom: 20px;
  right: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
}
/* about page */
/* faq section */
.faqCard {
  width: 500px;
  height: 215px;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #ffffff;
}
.faqCard11 {
  width: 500px;
  height: 342px;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #ffffff;
}
.faqCard12 {
  width: 500px;
  height: 128px;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #ffffff;
}
.faqCard21 {
  width: 500px;
  height: 162px;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #ffffff;
}
.faqCard22 {
  width: 500px;
  height: 162px;
  margin-left: 23px;
  margin-right: 23px;
  border-radius: 15px;
  background-color: #ffffff;
}
.faqCardHeader {
  height: 58px;
  background-color: #057d99;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  border: 1px solid #057d99;
}
.faqCardHeader2 {
  height: 61px;
  background-color: #057d99;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  border: 1px solid #057d99;
}
.faqCardTitle {
  position: relative;
  bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 57px;
  text-align: left;
  color: #ffffff;
}
.faqCardTitle2 {
  position: relative;
  bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  color: #ffffff;
}
.faqCardBody {
}
.faqCardBodyText {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
/* faq section */
/* contact section */
.contactHeader {
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  line-height: 40px;
  margin-top: 5px;
}
/* contact section */
/* registration successful  */
.jumbotronReg {
  position: relative;
}
.jumbotronFluidReg {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(37, 139, 165, 0.72);
}
.jumbotronProps {
  position: relative;
  top: 140px;
}
.tickBorder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-color: rgba(4, 193, 80, 1);
  border-radius: 100%;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  left: 38%;
}
.tick {
  /* font-weight: 700; */
  font-size: 100px;
  color: rgba(4, 193, 80, 1);
}
.registrationContainer {
  position: relative;
  width: 500px;
  height: 500px;
  top: 250px;
  left: 700px;
  bottom: 0px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 10px;
}
.registrationHeader {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  color: #000000;
}
.registrationText {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  color: #000000;
}
.registrationSuccessfulButton {
  display: block;
  position: relative;
  width: 358px;
  height: 50px;
  top: 15px;
  margin-right: 5rem;
  margin-left: 4rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  background-color: #057d99;
}
/* registration successful  */
.settingsButton {
  position: relative;
  left: 1000px;
  width: 180px;
  height: 70px;
  /* display: block; */
  font-weight: 700;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 0.5rem;
  background-color: #057d99;
  color: #ffffff;
  margin: 30px;
}
/* COURSES */
.coursesDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.coursesCard {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 448px;
  border: 1px solid #057d99;
  border-radius: 10px;
  margin: 20px;
  text-transform: uppercase;
}
.bookDiv {
  position: relative;
  top: 10px;
  left: 10px;
  width: 250px;
  height: 250px;
  /* background-color: tomato; */
}
.bookDiv3 {
  position: relative;
  top: 21px;
  left: 21px;
  width: 228px;
  height: 228px;
  /* background-color: tomato; */
}
.book {
  position: relative;
  left: 30px;
}
.bookTitle {
  position: relative;
  top: 30px;
  left: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  line-height: 20px;
}
.bookTitle3 {
  position: relative;
  top: 25px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  line-height: 20px;
}
.bookPrice {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.coursesButton {
  position: relative;
  width: 248px;
  height: 50px;
  top: 15px;
  left: 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #057d99;
}
.coursesButton3 {
  position: relative;
  width: 248px;
  height: 50px;
  top: 20px;
  left: 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #057d99;
}
/* COURSES */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 347px;
  padding: 2rem 0;
  background-color: #0a4f60;
}
.footerInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 82px;
  background-color: #057d99;
}
.footerBottomList {
  font-weight: 400px;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #f6fdff;
}
.footerBottomText {
  font-weight: 400px;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  color: #f6fdff;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.footer li {
  list-style-type: disc;
}
/* Others, Dashboard and all */
.investContainer {
  position: relative;
  background: url("/public/monnayJumbo.png");
  background-size: cover;
  height: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.investFluid {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(35, 161, 192, 0.72);
}
.invest {
  position: relative;
  width: 500px;
  height: 612px;
  left: 800px;
  top: 200px;
  background-color: #ffffff;
  border-radius: 20px;
  /* padding: 15px; */
}
.createWithdraw {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
.withdraw {
  position: relative;
  width: 500px;
  height: 757px;
  left: 800px;
  top: 100px;
  background-color: #ffffff;
  border-radius: 20px;
  /* padding: 15px; */
}
.withdrawButton {
  display: block;
  position: relative;
  left: 40px;
  width: 350px;
  height: 50px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  background-color: #057d99;
}
.investButton {
  display: block;
  position: relative;
  top: 75px;
  left: 40px;
  width: 350px;
  height: 50px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  border-radius: 5px;
  background-color: #057d99;
}
/* RESPONSIVENESS */
/* for mobile screens*/
@media only screen and (min-width: 360px) and (max-width: 926px) {
  .jumbotron {
    height: 370px !important;
  }
  .jumbotron h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .jumbotron p {
    font-size: 14px;
    line-height: 20px;
  }
  .jumbotronProps {
    position: relative;
    top: 50px;
  }
  .jumboButton {
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    border-color: #ffffff;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-radius: 0.5rem;
    color: #ffffff;
    height: 55px;
    width: 200px;
    margin-top: 10px;
  }
  .trade {
    flex-direction: column-reverse;
    margin-top: 0px;
  }
  .tradeImageDiv {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
  }
  .tradeText {
    font-size: 32px;
    line-height: 39px;
  }
  .tradeMessage {
    font-size: 14px;
    line-height: 30px;
  }
  .brTag {
    display: none;
  }
  .trustContainer {
    height: 976px;
  }
  .trustText {
    font-size: 32px;
    line-height: 39px;
  }
  #message {
    display: none;
  }
  .trustMessage {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
  .trustShowBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: 330px;
    height: 330px;
  }
  .boxIconContainer {
    top: 30px;
    left: 30px;
  }
  .boxText {
    top: 30px;
    left: 20px;
    font-size: 24px;
    line-height: 17px;
  }
  .boxMessage {
    line-height: 20px;
    top: 10px;
    padding: 20px;
  }
  .strategyContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .strategyImageContainer {
    width: 100%;
    background-color: #0a4f60;
  }
  .strategyTextContainer {
    width: 100%;
    height: 550px;
  }
  .strategyText {
    position: relative;
    right: 60px;
    font-size: 32px;
    line-height: 39px;
  }
  .strategyMessage {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 19px;
  }
  .investmentHeader {
    font-size: 32px;
    line-height: 39px;
  }
  .investmentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: tomato; */
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 550px;
    margin: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    z-index: -1;
  }
  .investorHeader {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }
  .investorHr {
    width: 15%;
  }
  .investorDivAbout {
    margin-top: 30px;
  }
  .investorCardDiv {
    display: flex;
    flex-direction: column;
  }
  .investorCard {
    width: 325px;
    height: 177px;
  }
  .investorIcon {
    top: 20px;
    left: 20px;
  }
  .investorMessage {
    font-size: 12px;
    line-height: 14px;
    top: 0px;
    left: 60px;
  }
  .investorName {
    font-size: 14px;
    top: 0px;
  }
  .investorMessage3 {
    font-size: 12px;
    line-height: 14px;
    bottom: 60px;
    left: 20px;
    padding-left: 70px;
    padding-right: 50px;
  }
  .investorName3 {
    font-size: 14px;
    bottom: 100px;
  }
  .subscribeContainer {
    height: 380px;
  }
  .subscribeHeader {
    font-size: 32px;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .subscribeInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribeButton {
    width: 300px;
    height: 60px;
    font-weight: 700;
  }
  .footer {
    height: 500px;
  }
  .footerInfo {
    position: relative;
    flex-direction: column;
  }
  .footerImage {
    display: none;
  }
  .footerBottom {
    background-color: #0a4f60;
  }
  .footerBottomText {
    text-align: center;
    font-size: 9px;
    color: #ffffff;
  }
  .footerBottomList {
    text-align: center;
  }
  .description {
    z-index: -1;
    height: 2500px;
  }
  .whoAreWeDiv {
    top: 5px;
    flex-direction: column;
  }
  .whoAreWe {
    width: 330px;
    height: 278px;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .whoAreWeMessage {
    padding-right: 15px;
  }
  .meetCEO {
    width: 330px;
    height: 1000px;
    margin-left: 30px;
  }
  .ceoMessage {
    padding-right: 15px;
  }
  .ceoButtonDiv {
    margin-left: 35px;
  }
  .ceoButton {
    width: 250px;
  }
  .ourStrategy {
    width: 330px;
    height: 800px;
    right: 0px;
    top: 30px;
  }
  .planJumbo {
    top: 40px;
    font-size: 32px;
    line-height: 39px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .content {
    font-size: 14px;
    line-height: 20px;
  }
  .registrationContainer {
    width: 350px;
    top: 90px;
    left: 10px;
  }
  .registrationHeader {
    font-size: 23px;
    line-height: 30px;
  }
  .registrationText {
    font-size: 14px;
    line-height: 23px;
  }
  .registrationSuccessfulButton {
    width: 250px;
    right: 1rem;
  }
  .signinContainer {
    width: 350px;
    height: 570px;
    margin: 25px;
  }
  .signinButton {
    width: 250px;
    left: 10px;
  }
  .termsHeader{
    font-size: 27px;
  }
  .termsBody{
    width: 350px;
    left: 29px;
  }
  .termsButton{
    width: 319px;
    left: 47px;
  }
  #faqDiv {
    flex-direction: column;
    margin-top: 0px;
  }
  .faqDiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .faqDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .faqCard {
    width: 350px;
    height: 253px;
  }
  .faqCard11 {
    width: 350px;
    height: 384px;
  }
  .faqCard12 {
    width: 350px;
  }
  .faqCard21 {
    width: 350px;
    height: 175px;
  }
  .faqCard22 {
    width: 350px;
  }
  #faqCardTitle {
    bottom: 0px;
    line-height: 20px;
  }
  #faqCardHeader2 {
    height: 70px;
  }
  .coursesDiv {
    flex-direction: column;
    z-index: -1;
  }
}
/* FOR LAPTOPS */
@media screen and (min-device-width: 926px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  #navbarStyle {
    left: -100px;
  }
  .buttonNav {
    top: 10px;
    left: -20px;
  }
  .buttonOutlineNav {
    top: 10px;
    left: -5px;
  }
  .jumbotron {
    height: 450px;
  }
  .trade {
    margin: 35px;
  }
  .tradeTextContainer {
    width: 700px;
    margin: 50px;
  }
  .tradeText {
    font-size: 45px;
  }
  #brTag {
    display: none;
  }
  .trustContainer {
    height: 740px;
  }
  .strategyTextContainer {
    width: 70%;
  }
  .strategyText {
    position: relative;
    right: 50px;
    font-size: 30px;
    line-height: 39px;
  }
  .strategyMessage {
    padding-left: 30px;
    line-height: 23px;
  }
  .investorCard {
    width: 350px;
    height: 250px;
  }
  .signinContainer {
    margin: 90px;
  }
  .registrationContainer {
    left: 400px;
  }
  .footer {
    height: 300px;
  }
}
